---
layout: "base.njk"
---

<div class="cardgroup">
{% for item in crypto.items %}
    <div class="card">
    <img src="https://cryptoicons.org/api/icon/{{ item.ticker }}/100" alt="{{ item.ticker }}">
    <h1>{{ item.name }}</h1>
    <h1>{{ item.number }}</h1>
    <p>{{ item.description }}</p>
    <a href="/">Buy now!</a>
    </div>
{% endfor %}
</div>